<!DOCTYPE html>
<html>
    <!-- Generated with Flask -->
    <head>
        <meta charset="utf-8" />
        <title>BIERES</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>
        <h1>BEER</h1>

        <nav>
            <a href="/alphabetical">Alphabetical</a>
            <a href="/alcohol">Alcohol</a>
            <a href="/calories">Calories</a>
            <a href="/score">Score</a>
            <a href="/perso">Perso</a>
        </nav>

        {% block content %}
        {% endblock %}
    </body>

</html>
