{% extends "base.html" %}
{% block content %}

<span class="number">Number of beers: {{ blist|length }}</span>

{% for beer in blist %}

<div class="beer">
    <span class="name">{{ beer['name'] }}</span>
    {% if beer['image'] %}
    <a href="{{ beer['link'] }}"><img src="/static/images/{{ beer['image'] }}"></a>
    {% else %}
    <a href="{{ beer['link'] }}"><img></a>
    {% endif %}
    <span class="style">Style: {{ beer['style'] }} </span>
    <span class="alcohol">Alcohol: {{ beer['alcohol'] }} </span>
    <span class="calories">Calories: {{ beer['calories'] }} </span>
    <span class="score">Ratebeer: {{ beer['score'] }} </span>
    <span class="glasses">Glasses: {{ beer['glasses'] }} </span>
    <span class="perso">Perso: {{ beer['perso'] }} </span>

</div>
{% endfor %}

{% endblock %}
