html{
    margin: 0;
    padding: 0;
    background-color: #5AA032;
    background-color: #468228;
}

body{
    width: 900px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 20px 20px 20px 20px;

    background-color: #E5E5E5;
    border: solid 2px black;
    box-shadow: 0 0 20px #4B4B4B;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

nav{
    text-align: center;
    padding-bottom: 20px;
}

nav a{
    display: inline-block;
    padding: 10px 10px 10px 10px;

    width: 80px;

    margin-left: 20px;
    margin-right: 20px;

    text-decoration: none;
    background-color: #146414;

    color: white;
}

nav a:hover{
    color: orange;
}

.beer{
    width: 300px;
    height: 595px;
    display: inline-block;

    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    
    background-color: #5AA032;
    border: solid 1px green;
}

.beer img{
    height: 300px;
    max-width: 200px;
    display: block;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    box-shadow: 0 0 10px #4B4B4B;
}

.beer .name{
    display: block;
    text-align: center;
    
    width: 250px;
    height: 40px;
    margin: auto;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.beer .style{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #146414;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #4B4B4B;
}

.beer .alcohol{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #146414;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #4B4B4B;
}

.beer .calories{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #146414;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #4B4B4B;
}

.beer .score{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #146414;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #4B4B4B;
}

.beer .glasses{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    height: 40px;

    background-color: #146414;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #4B4B4B;
}

.beer .perso{
    display: block;
    text-align: center;

    width: 250px;
    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #146414;
    box-shadow: 0 0 5px #4B4B4B;
}

.number{
    display: block;
    margin: auto;
    width : 170px;
    text-align: center;
    margin-bottom: 20px;
    background-color: lightgreen;
}
